<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            LANCEMENT DE SELENIUM
            <div class="row text-black">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-left form p-4">
                    <div class="px-2">
                        <form action="" class="justify-content-center" #form="ngForm">
                            <div class="form-group">
                               Nom de la file JMS
                               <input type="text" class="form-control"
                                placeholder="{{taskJms.nomFileJms}}"
                                [(ngModel)]="taskJms.nomFileJms" name="nomFileJms"  id="nomFileJms"
                                value="{{taskJms.nomFileJms}}">
                           </div>
                            <div class="form-group">
                                Fichier à injecter
                                <input type="text" class="form-control"
                                name="nomTest"
                                 placeholder="{{taskJms.nomFichier}}"
                                 [(ngModel)]="taskJms.nomFichier" name="nomFichier" id="nomFichier"
                                 value="{{taskJms.nomFichier}}">
                            </div>
                            <a (click)="retour()"><button class="btn btn-success pull-right"> Valider</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>