<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            TACHE
            <div class="row text-black">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-left form p-4">
                    <div class="px-2">
                        <form action="" class="justify-content-center" #form="ngForm">
                            <div class="form-group">
                               Requete sql :
                                <textarea col = '10' row='10' class="form-control" 
                                placeholder="{{taskExecSql.requete}}"
                                 [(ngModel)]="taskExecSql.requete" name="textSql"
                                 value="{{taskExecSql.requete}}" >  
                                 ></textarea>
                            </div>
                            <a (click)="retour()"><button class="btn btn-success pull-right"> Valider</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>